@font-face {
    font-family: 'Inter';
    src: url('../font/font.ttf');
    font-style: normal;
    font-weight: 400;
  }
  
:root {
    --Primary: #43DDE6;
    --White: #ffffff; 
    
    
  }
  
body {
    color: var(--White);
    background-color: var(--Primary);
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    margin-top: 100px;
    position: relative;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
}

.player-title {
    font-family: 'Inter', sans-serif;
    color: #fff;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-progress {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input {
    flex: 1;
}

.button {
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background: transparent;
}

.button:active {
    transform: scale(.9);
}

.player-overlay {
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay {
    opacity: 1;
}


#play {
    background: url('./video-player/video-player-base/icons/icons8-circled_play 1.svg');
}

#pause {
    background-image: url('./video-player/video-player-base/icons/icons8-pause_button 1.svg');
}

#backward {
    background-image: url('./video-player/video-player-base/icons/icons8-reset 2.svg');

}

#forward {
    background-image: url('./video-player/video-player-base/icons/icons8-reset\ 1.svg');
}

